.container {
	width: auto;
}

.shadow {
    background: #333333;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 1px;
}

.container-hover {
    position: relative;
    width: 90%;
}

.image-hover {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle-hover {
  transition: .5s ease;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container-hover:hover .image-hover {
  opacity: 0.3;
}

.container-hover:hover .middle-hover {
  opacity: 1;
}

.text-hover {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	background-color: #333333;
	color: white;
	font-size: 20px;
	padding: 16px 16px;
}

.social-slide {
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.centerLayer {
    margin-left: 36%;
	width: 40%;
   }

.vk {
	background-image: url('img/vk-hover.png');
}

.google-plus {
	background-image: url('img/google-hover.png');
}

.twitter {
	background-image: url('img/twitter-hover.png');
}

.instagram {
	background-image: url('img/instagram-hover.png');
}

.youtube {
	background-image: url('img/youtube-hover.png');
}

.social-slide:hover {
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 12px;
  width: 136px;
  height: 48px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 14px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

ul {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #252525;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.hi-text {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #555;
	line-height: 2;
    margin-left: 6%;
}

.button-contact {
    background-color: #333333; /* Green */
    border: none;
	width: auto;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-contact-me {
    background-color: white;
    color: black;
    border: 2px solid #333333;
}

.button-contact-me:hover {
    background-color: #333333;
    color: white;
}

.hire-text {
	font-size: 18px;
	color: #555;
}

.title-text-description {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #555;
	padding-left: 12%;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.title-text {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #555;
	text-align: center;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.title-text-stars{
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-size: 30px;
	margin-top: -30px;
	text-align: center;
	color: #555;
	font-style: bold;
	font-variant: normal;
	font-weight: 300;
	line-height: 26.4px;
}

.first-row-diagrans-text {
	font-size: 22px;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.h1-hi-text {
	font-size: 24px;
	color: #555;
    margin-left: 6%;
}

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	background-color: #fff;
}

h1 {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.margin-hr {
	margin-left: 8%;
	margin-right: 8%;
}

h3 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

.column {
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30%;
    -moz-column-gap: 30%;
    column-gap: 30%;
}

.column-5 {
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 30%;
    -moz-column-gap: 30%;
    column-gap: 30%;
}

.column-6 {
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
    -webkit-column-gap: 30%;
    -moz-column-gap: 30%;
    column-gap: 30%;
}

.column-4 {
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 30%;
    -moz-column-gap: 30%;
    column-gap: 30%;
}

.column-2 {
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30%;
    -moz-column-gap: 30%;
    column-gap: 30%;
}
   
p {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}